---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profil</div>
  </div>

  <div class="mb-10 text-justify">
    Mahasiswa Jurusan Fisika UIN Sunan Gunung Djati Bandung 
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Pendidikan</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="UIN Sunan Gunung Djati Bandung"
      subtitle="S1 Fisika. Tahun 2020-2024 "
    />
    <TimeLineElement
      title="MAN 1 Sumedang"
      subtitle="IPA. Tahun 2017-2020."
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Pengalaman Kerja</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Guru Ekstrakurikuler Robotika"
      subtitle="From 2021 to 2022 at CV. Bolabot Techno Robotic, Bandung, Indonesia"
    >
    Mengajar dasar elektronika dan mekanika robot sederhana. Membuat skematik rangkaian elektronika dan perlengkapan pemula.
    </TimeLineElement>
    <TimeLineElement
      title="Jasa "
      subtitle="From [Start Date] to [End Date] at [Company], [City], [Country]"
    >
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Sertifikat</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="#" target="_blank"> Certification Name (with link)</a>
    </li>
    <li>
      <a href="#" target="_blank"> Certification Name (with link)</a>
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-4 columns-2 mx-6">
    <li>Adobe Photoshop</li>
    <li>Adobe Illustrator</li>
    <li>Filmora</li>
    <li>Canva</li>
    <li>Python </li>
    <li>Arduino</li>
    <li>LaTeX</li>
    <li>Electrical Engineering</li>
    <li>GUI Designer</li>
    <li>Internet Of Thing</li>
    <li>Data Science</li>
  </ul>
</BaseLayout>
